VITE_CHAIN_ID=11155111
VITE_CHAIN_NAME=Sepolia
VITE_CHAIN_RPC_URL=https://rpc.sepolia.org
VITE_CHAIN_WS_URL=wss://rpc.sepolia.org
VITE_CHAIN_SYMBOL=ETH
VITE_CHAIN_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
